:root {
  /* color */
  --black: #000;
  --white: #fff;
  --lightGray: #f2f2f2;
  --darkGray: #444;

  /* size */
  --size100: 5rem;
  --size80: 4rem;
  --size72: 3.6rem;
  --size64: 3.2rem;
  --size56: 2.8rem;
  --size40: 2rem;
  --size32: 1.6rem;
  --size22: 1.1rem;
  --size20: 1rem;
  --size12: 0.6rem;
  --size8: 0.4rem;
}

/* reset */
h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  /* font-size: var(--size20); */
}

input {
  border: 0;
  padding: 0;
  box-shadow: none;
  appearance: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}

button:disabled,
button:disabled:hover {
  background-color: #ddd !important;
  cursor: not-allowed;
}

/* base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
