/* text */
.title {
  font-size: var(--size56);
  font-weight: 700;
  text-align: center;
}

.description {
  display: block;
  width: 100%;
  text-align: center;
}

/* view */
.hide {
  display: none !important;
}

/* button */
.outlineButton {
  border: 3px solid var(--black);
}

.outlineButton.active {
  color: var(--white);
  background-color: var(--black);
}

.fillButton {
  color: var(--white);
  background-color: var(--black);
}

.ghostButton:hover,
.outlineButton:hover {
  background-color: var(--lightGray);
}

.fillButton:hover,
.outlineButton.active:hover {
  background-color: var(--darkGray);
}
