.vocaItem {
  border: 3px solid black;
  overflow-x: auto;
  max-width: 100%;
  position: relative;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0 1.5rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.25rem;
}

.title,
.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.remove {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  cursor: pointer;
}

/* li에 hover 되었을 때 button display block */
.vocaItem:hover .remove {
  display: block;
}
